<div class="row">
    <div class="col-md-12">
        <div class="city-search">
            <h2>{{ city.name }}</h2>
        </div>
    </div>
</div>
<div class="city-dt">
    <div class="row">
        <div class="col-sm-4 city-detail" *ngFor="let cityItem of city.restaurants">
            <a routerLink="{{ cityItem.link }}">
                <img src="{{ cityItem.imagePath }}" alt="{{ cityItem.name }}" class="img-responsive">
                <p>{{ cityItem.name }}</p>
            </a>
        </div>
    </div>
</div>
