footer {
    min-height: 160px;
    background-color: #333;
    color: #fff;

    ul {
      margin-top: 5%;
      padding-left: 0;
      list-style: none;
      li {
        font-size: 16px;
      }
    }
}
