<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/'><img src="../../../../assets/images/logo.png" alt="" class="img-responsive"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find a Restaurant <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/city/0">by City</a></li>
            <li><a routerLink="/type/0">by Type</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuisines <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/cuisine/shandong">Shandong</a></li>
            <li><a routerLink="/cuisine/cantonese">Cantonese</a></li>
            <li><a routerLink="/cuisine/sichuan">Sichuan</a></li>
            <li><a routerLink="/cuisine/huaiyang">Huaiyang</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
