header {
    background-color: #eee;
    height: 160px;
    width: 100%;
}
.restaurant-header {
    margin: 60px auto;
    margin-top: 80px;
}
.restaurant-info {
    padding-left: 30px;
    h1 {
        font-size: 42px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 20px;
        line-height: 1.5;
    }
}
.restaurant-info-dt {
    padding-right: 40px;
}
.restaurant-img-dt {
    position: relative;
    margin-top: -5%;
    width: 80%;
}
.restaurant-bg {
  position: relative;
  left: 12%;
  margin-top: -68%;
  z-index: -20;
  width: 80%;
}
