header {
    background-color: #eee;
    height: 160px;
    width: 100%;
}
.restaurant-header {
    margin: 60px auto;
    margin-top: 80px;
}
.restaurant-info {
    padding-left: 30px;
    h1 {
        font-size: 42px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 20px;
        line-height: 1.5;
    }
}
.restaurant-info-dt {
    padding-right: 40px;
}
.restaurant-img-dt {
    position: relative;
    margin-top: -5%;
    width: 80%;
}
.restaurant-bg {
  position: relative;
  left: 12%;
  margin-top: -68%;
  z-index: -20;
  width: 80%;
}

.res-food {
    margin-bottom: 80px;
    h2 {
        margin: 60px auto;
        text-align: center;
    }
}
.res-food-dt {
    p {
        font-size: 16px;
        padding: 8px;
        display: block;
        width: 100%;
        background-color: #EF3B20;
        color: #fff;
    }
}
.res-dt {
    background-color: #f9f5f5;
    position: relative;
    width: 100%;
    margin: 40px auto;
    padding: 60px 0 60px 0;
}
.res-map {
  padding-right: 40px;
  p {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
.res-map-dt {
    border: 10px double #000;
    position: relative;
    width: 80%;
}
.res-hours {
    p {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
          font-size: 16px;
          padding-bottom: 8px;
        }
    }
}
