<!-- <div class="row">
   <a *ngFor="let storyItem of storyList; let i = index" (click)="modal.show()" >
      <div class="col-sm-3 story-detail">
            <img src="{{ storyItem.imagePath }}" alt="{{ storyItem.name }}" class="img-responsive">
            <p>{{ storyItem.name }}</p>
      </div>
    </a>
</div> -->
<div class="row">
   <a (click)="modal1.show()" >
      <div class="col-sm-3 story-detail">
          <img src="../../../../assets/images/story/general-tsos-chicken.png" alt="" class="img-responsive">
          <p>General Tso's Chicken</p>
      </div>
    </a>
    <a (click)="modal2.show()" >
       <div class="col-sm-3 story-detail">
            <img src="../../../../assets/images/story/feipian.png" alt="" class="img-responsive">
            <p>Fuqi Feipian</p>
       </div>
     </a>
     <a (click)="modal3.show()" >
        <div class="col-sm-3 story-detail">
            <img src="../../../../assets/images/story/newyear.png" alt="" class="img-responsive">
            <p>Chinese New Year Dishes</p>
        </div>
      </a>
      <a (click)="modal4.show()" >
         <div class="col-sm-3 story-detail">
              <img src="../../../../assets/images/story/dumplings.png" alt="" class="img-responsive">
              <p>Chinese Dumplings</p>
         </div>
       </a>
</div>

<!-- General Tso's Chicken -->
<app-story-modal #modal1>
    <div class="app-modal-header">
      <h2>General Tso's Chicken</h2>
    </div>
    <div class="app-modal-body">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/bh5piNP9aYE?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
    </div>
</app-story-modal>

<!-- Fuqi Feipian -->
<app-story-modal #modal2>
    <div class="app-modal-header">
      <h2>Fuqi Feipian (Beef in Chili Sauce)</h2>
    </div>
    <div class="app-modal-body">
      Whatever content you like, form fields, anything
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal2.hide()">Close</button>
    </div>
</app-story-modal>

<!-- Chinese New Year Dishes -->
<app-story-modal #modal3>
    <div class="app-modal-header">
      <h2>Chinese New Year Dishes</h2>
    </div>
    <div class="app-modal-body">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/LMJ3PjaZwMU?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal3.hide()">Close</button>
    </div>
</app-story-modal>

<!-- Chinese Dumplings -->
<app-story-modal #modal4>
    <div class="app-modal-header">
      <h2>Chinese Dumplings</h2>
    </div>
    <div class="app-modal-body">
      Whatever content you like, form fields, anything
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal4.hide()">Close</button>
    </div>
</app-story-modal>
