$highlight1: #EF3B20;
a {
    cursor: pointer;
}
.story-detail {
    margin: 20px auto;
    margin-bottom: 40px;
    p {
        background-color: $highlight1;
        color: #fff;
        font-size: 16px;
        padding: 8px;
        text-align: center;
    }
    .story-dt-img {
        position: relative;
        overflow: hidden;
        img {
            -webkit-transition: all .3s ease-in;
            transition: all .3s ease-out;
        }
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
        p {
            background-color: darken($highlight1, 10%);
        }
    }
}
.app-modal-header {
    text-align: center;
}
.app-modal-body {
  margin: 20px auto;
  iframe {
    display: block;
    margin: 0 auto;
  }
  img {
    margin-top: 10px;
  }
  p {
    font-size: 16px;
    padding-right: 20px;
  }
}
.story-video {
  h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  overflow: auto;
  margin-bottom: 20px;
}
