header {
    background-color: #eee;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
}
.header-text {
    position: relative;
    display: block;
    padding: 10% 5%;
    text-align: center;

}
