header {
  background-color: #eee;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
}
.header-text {
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    display: block;
    top: 50%;
    text-align: center;
    width: 100%;
    height: 360px;
    transform: translate(0, -50%);
    h1 {
        @media (max-width: 640px) {
            padding-top: 100px;
        }
        color: #fff;
        font-size: 42px;
        letter-spacing: 2px;
        padding-top: 150px;
        text-transform: uppercase;
    }
}
