<h2>Find out Different Types of Chinese Food</h2>
<div class="row type-display">
    <div class="col-sm-12">
        <div class="type-food pull-left">
            <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Cocktail-Party-Recipe-Drink-Alcohol-Pisco-Sour-831768.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="type-food pull-right right">
            <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Cocktail-Party-Recipe-Drink-Alcohol-Pisco-Sour-831768.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="type-food pull-left">
            <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Cocktail-Party-Recipe-Drink-Alcohol-Pisco-Sour-831768.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="type-food pull-right right">
            <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Cocktail-Party-Recipe-Drink-Alcohol-Pisco-Sour-831768.jpg" alt="" class="img-responsive">
        </div>
    </div>
</div>
