<div *ngFor="let cuisineItem of cuisineList; let index = index; let isOdd = odd; let isEven = even"
     [class.odd] = "isOdd"
     [class.even] = "isEven"
     class="row cuisine-detail">

    <div class="cuisine-img">
      <div class="cuisine-img-dt">
          <img src="{{ cuisineItem.imagePath }}" alt="{{ cuisineItem.name }}" class="img-responsive">
      </div>
        <div class="cuisine-bg">
            <img src="../../../../../assets/images/cuisines/cuisine_bg.png" alt="" class="img-responsive">
        </div>

    </div>

    <div class="cuisine-info">
        <h3>{{ cuisineItem.name }}</h3>
        <p>{{ cuisineItem.info }}</p>
        <button class="btn cuisine-btn" type="button" name="button">Explore More</button>
    </div>
</div>
