<div class="row">
    <div class="col-sm-12">
        <h2>{{ mapping.name }}</h2>
    </div>
    <div class="col-sm-6 map-detail" *ngFor="let mapItem of mapping.restaurants">
        <a routerLink="{{ mapItem.link }}">
            <img src="{{ mapItem.imagePath }}" alt="{{ mapItem.name }}" class="img-responsive">
            <p>{{ mapItem.name }}</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-lg map-bt" type="button" name="button">Explore More Restaurants</button>
    </div>
</div>
