h2 {
    margin: 60px auto;
    text-align: center;
}
.map-search {
    margin-top: 30px;
    padding-right: 45px;
}
.map-items {
    margin-top: 10px;
    padding-left: 40px;
}
.map-dt {
    margin-bottom: 60px;
}
.start-info {
    h3 {
        color: #EF3B20;
        font-size: 26px;
        font-weight: 500;
        margin: 20px 0;
    }
    p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 40px;
    }
}
